/* Dashboard Style css */
section#myDash {
  top: 10px;
  left: 245px;
  position: absolute;
  padding: 10px;
}

#chartHeader {
  font-weight: 300;
  color: #171716a1;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 250px;
  height: 100px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background-color: white
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__title {
  font-weight: normal;
  color: #0a0a0a;
}

.card__apply {

  align-self: center;
}

.tablecontainer {
  height: 200px;
  overflow-y: scroll;
}

#bestsellers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#bestsellers thead{
  position: sticky;
  top: 0;
}

#bestsellers td,
#bestsellers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bestsellers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#bestsellers tr:hover {
  background-color: #ddd;
}

#bestsellers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}